name: Linters & Tests

on:
  push:
    branches: [ $default-branch ]
  pull_request:
    branches: [ $default-branch ]
  workflow_call:
    inputs:
      env_yml:
        default: ./.github/workflows/env.yml
        type: string

jobs:
  setenv:
    uses: ${{ inputs.env_yml }}
  execute:
    name: Check Code & Run Tests
    needs: setenv
    strategy:
      fail-fast: false
      matrix:
        # TODO: Enable Windows
        # https://jira.eng.vmware.com/browse/MONIT-30833
        os: [macos-latest, ubuntu-latest]  # , windows-latest]
        python_version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: wavefrontHQ/wavefront-sdk-python/.github/actions/lint_n_test@master
      with:
        python_version: ${{ matrix.python_version }}
        input_pkg_name: ${{ needs.setenv.outputs.package_name }}
        extra_packages: ${{ needs.setenv.outputs.requirements }}
