name: Linters & Tests

on:
  push:
    # branches: [ master ]
  pull_request:
    branches: [ master ]
  workflow_call:
    inputs:
      package_name:
        required: true
        type: string
      requirements:
        type: string
  workflow_dispatch:

jobs:
  env0:  # the default environment config, when workflow isn't reused.
    if: ${{ github.event_name != 'workflow_call' }}
    uses: ./.github/workflows/env0.yml
  execute:
    defaults:
      run:
        shell: bash
    name: Check Code & Run Tests
    needs: env0
    env:
        pkg_name: ${{ inputs.package_name || needs.env0.outputs.package_name }}
        pkg_reqs: ${{ inputs.requirements || needs.env0.outputs.requirements }}
    strategy:
      fail-fast: false
      matrix:
        # TODO: Enable Windows
        # https://jira.eng.vmware.com/browse/MONIT-30833
        os: [macos-latest, ubuntu-latest]  # , windows-latest]
        python_version: ['3.7', '3.8', '3.9', '3.10', '3.11']
    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - run: echo ${{ format('pkg_name value is "{0}", and pkg_reqs is "{1}".', pkg_name, pkg_reqs) }}
      with:
        python_version: ${{ matrix.python_version }}
        input_pkg_name: $pkg_name
        extra_packages: $pkg_reqs

    - uses: wavefrontHQ/wavefront-sdk-python/.github/actions/lint_n_test@master
      with:
        python_version: ${{ matrix.python_version }}
        input_pkg_name: $pkg_name
        extra_packages: $pkg_reqs
