
name: Python package

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.6", "3.7", "3.8", "3.9", "3.10"]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install -U pip
        python -m pip install -U requests tdigest Deprecated flake8
        python -m pip install -U flake8-colors flake8-import-order
        python -m pip install -U pep8-naming pydocstyle pylint
    - name: Flake8
      run: python -m flake8
    - name: Pylint
      run: python -m pylint wavefront_sdk
    - name: Pydocstyle
      run: python -m pydocstyle
    - name: Test 
      run: python -m unittest discover
    - name: Validate the version was updated in setup.py file.
      if: ${{ github.event_name == 'pull_request' }}
      env:
        COMMIT_RANGE: ${{ github.event.pull_request.base.sha }}..${{ github.event.pull_request.head.sha }}
      run: |
        test -n "$(git diff -G version= $COMMIT_RANGE -- setup.py)";